@import 'TopNav.scss';
@import 'Breadscrumb.scss';
@import 'Product.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  --ml-blue: #3483FA;
  --ml-yellow: #FFE600;
  --ml-dark: #333333;
  --ml-letter: #666666;
  --ml-grey: #999999;
  --ml-light: #EEEEEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
