
.container{
    width: 80%;
    margin-left: 10%;
    min-height: 90%;
    background-color: white;
    border-radius: 4px;
}

.product-wrapper{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--ml-light);
    padding: 16px;
    a{
        img{
            margin-right: 16px;
            width:  180px;
            height: 180px;
            object-fit: scale-down;
            border-radius: 4px;
        }
    }


    .description{
        width: 50%;
        .price{
            display: flex;
            flex-direction: row;
            place-items: center;
            font-size: 24px;
            padding-top: 16px;
            margin-bottom: 32px;
            .currency{
                margin-right: 5px;
            }
            .decimals{
                &::before{
                    content: ",";
                }
            }
            img.shipping{
                width:  20px;
                height: 20px;
                object-fit: scale-down;
                padding: 0px 16px;
            }
        }

        .title{
            font-size: 18px;
            text-decoration-line: none;
            color: var(--ml-letter);
        }
        
    }

    .state_name{
        width: 50%;
        margin: 16px 0px;
        text-align: center;
        font-size: 12px;
        color: var(--ml-letter);

    }

}